@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1f;
  overflow-x: hidden;
}

:root {
  --footer-height: 65px;
}

@media (min-width: 768px) {
  :root {
    --footer-height: 0px;
  }
}

.footer--section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
}

.navbar--section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
}